<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body style="height: 100vh;" class="d-flex align-items-center">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 col-lg-7">
                <form>
                    <div class="mb-3">
                      <label for="source" class="form-label">Change Source:</label>
                      <input type="text" class="form-control" id="source">
                      <div class="form-text">Old Source: business</div>
                    </div>
                    <div class="mb-3">
                      <label for="income" class="form-label">Change Income Amount( in $ ):</label>
                      <input type="text" class="form-control" id="income">
                      <div class="form-text">Old Income amount: $100</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
        
    </div>
    

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/total.js"></script>
</body>
</html>